version: '3.8'

services:
  api:
    build: .
    container_name: codeigniter_api
    restart: always
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      - CI_ENVIRONMENT=production
